.rewardPage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.customerTable {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
}

.customerTable th,
.customerTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #9c9c9c;
}

.customerTable thead {
    background-color: #dcdcdc;
}

.monthlyTable {
    width: 100%;
}

.rewardText {
    color: #00a700;
}